
   html {
    background-color: rgba(192, 194, 187, 0.1);
   } 
.New {
  background-color: rgba(192, 194, 187, 0.1);
  text-align: center;
  #form {
    margin: 5vh auto;
    width: 80vw;
  }
  #form h1 {
    margin-top: 5vh;
  }
  .btn {
    border-radius: 0 !important;
  }
  
  svg {
    font-size: 5vh;
    margin: 0 1vh;
  }
}
